<div class="col-xl-2 nav-left px-0 nav_photo">
  <div class="sticky-top">
    <ul class="mb-0">
      <li class="nav-item">
        <%=link_to "Manage Photos",admin_photos_path, method: :get, class: "nav-link feeds"%>
      </li>
      <li class="nav-item">
        <%=link_to "Manage Albums",admin_albums_path, method: :get, class: "nav-link discover"%>
      </li>
      <li class="nav-item">
        <%=link_to "Manage Users",admin_users_path, method: :get, class: "nav-link discover"%>
      </li>
    </ul>
  </div>
</div>
