<%= render "head/header"%>
<section class="row">
  <%= render "nav_left" %>
  <div class="col-xl-8 nav-bw px-0 nav_bww">
    <h4>Edit User Profile</h4>
    <%= render "form", user: @user %>
    
  </div>
  <%= render "nav_right" %>
  <footer>
  </footer>
</section>
