<%= render "head/header"%>
<section class="row">
  <%= render "photos/nav_left" %>
  <div class="col-xl-8 nav-bw px-0 nav_bww">
    <h4>New Album</h4>
    <%= render "form_album", album: @album %>
  </div>
  <%= render "photos/nav_right" %>
  <footer>
  </footer>
</section>
